services:
  nominatim:
    container_name: nominatim
    image: mediagis/nominatim:5.2
    restart: unless-stopped
    ports:
      - "${NOMINATIM_PORT:-8080}:8080"
    shm_size: 32g
    environment:
      PBF_PATH: ${PBF_PATH}
      REPLICATION_URL: ${REPLICATION_URL}
      REPLICATION_UPDATE_INTERVAL: ${REPLICATION_UPDATE_INTERVAL:-86400}
      REPLICATION_RECHECK_INTERVAL: ${REPLICATION_RECHECK_INTERVAL:-900}
      UPDATE_MODE: ${UPDATE_MODE:-none}
      IMPORT_STYLE: ${IMPORT_STYLE:-full}
      IMPORT_WIKIPEDIA: ${IMPORT_WIKIPEDIA:-true}
      FREEZE: ${FREEZE:-false}
      REVERSE_ONLY: ${REVERSE_ONLY:-false}
      THREADS: ${THREADS:-20}
      NOMINATIM_PASSWORD: ${NOMINATIM_PASSWORD:-changeme}
      POSTGRES_SHARED_BUFFERS: ${POSTGRES_SHARED_BUFFERS:-16GB}
      POSTGRES_EFFECTIVE_CACHE_SIZE: ${POSTGRES_EFFECTIVE_CACHE_SIZE:-48GB}
      POSTGRES_MAINTENANCE_WORK_MEM: ${POSTGRES_MAINTENANCE_WORK_MEM:-10GB}
      POSTGRES_AUTOVACUUM_WORK_MEM: ${POSTGRES_AUTOVACUUM_WORK_MEM:-2GB}
      POSTGRES_WORK_MEM: ${POSTGRES_WORK_MEM:-50MB}
      POSTGRES_SYNCHRONOUS_COMMIT: ${POSTGRES_SYNCHRONOUS_COMMIT:-off}
      POSTGRES_MAX_WAL_SIZE: ${POSTGRES_MAX_WAL_SIZE:-1GB}
      POSTGRES_CHECKPOINT_TIMEOUT: ${POSTGRES_CHECKPOINT_TIMEOUT:-10min}
      POSTGRES_CHECKPOINT_COMPLETION_TARGET: ${POSTGRES_CHECKPOINT_COMPLETION_TARGET:-0.9}
    volumes:
      - ./var/lib/postgresql:/var/lib/postgresql/16/main
      - ./var/osm:/nominatim/data
      - ./var/nominatim/flatnode:/nominatim/flatnode
